@media only screen and (max-width: 1000px){
.homepage-container{
    width: 200px;
}
.body-wrap{
    width: 800px;
}
}
@media only screen and (max-width: 890px){
    .homepage-container{
        width: 200px;
    }
    .body-wrap{
        width: 600px;
    }
    }
    @media only screen and (max-width: 600px){
        .homepage-container{
            width: 200px;
        }
        .body-wrap{
            width: 400px;
        }
        }
        @media only screen and (max-width: 500px){
            .homepage-container{
                width: 200px;
            }
            .body-wrap{
                width: 300px;
            }
            }