* {
  box-sizing: border-box;
}

body,
.body-wrap {
  width: 1200px;
  height: 4090px;
  font-family: "Nunito";
 
}
.severe{
  width: 1200px;
}
.homepage-container {
  width: 1400px;
  height: 4090px;
  height: 100vh;
 background-color: #F2DDE1;
  margin-left: 118.5px;
  margin-right: 118.5px;
}

.homepage-main-wrap {
  margin-left: 118.5px;
  margin-right: 220px;
}

.navbar,
.nav-link,
.navbar-brand {
  color: #9e1a26;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  margin-top: 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #981327;
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 12px 16px;
}
.dropdown-content a:hover {
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.icon {
  width: 24px;
  height: 22px;
}

.user-logo {
  padding-left: 30px;
}

.cart-logo {
  padding-left: 20px;
}

  

.container-a {
  text-align: left;
  width: 677px;
  height: 520px;
}

.header-headline {
  text-align: left;
  width: 1000px;
  
  margin-left: 118.5px;
  color: #9e1a26;
  font-weight: bolder;
  font-size: 80px;
}

.header-text {
  width: 677px;
  width: fit-content;
  text-align: left;
  margin-left: 118.5px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 16px;
  color: #471b14;
  font-size: 18px;
}

.headerImage {
  width: 522.48px;
  height: 558px;
  display: flex;
  flex-shrink: 0;
  float: right;
  margin-top: -554.5px;
  margin-bottom: 114.5px;
  margin-left: -860px;
  margin-right: 190px;
}

.OrderButton {
  width: 240px;
  height: 44px;
  text-align: center;
  background-color: #9e1a26;
  color: #ffffff;
  margin-left: 118.5px;
  border-radius: 12px;
  border-color: #9e1a26;
  font-weight: bold;
  
}

.shuga-offerings {
  margin-top: -120px;
}

.column-type-a {
  background-color: #a6142c;
  color: #ffffff;
}

.column-type-b {
  background-color: #ec8087;
  color: #9e1a26;
}

.card-text-a,
.card-title-a {
  color: white;
}

.card-text-b,
.card-title-b {
  color: #9e1a26;
}

.hero {
  width: 2200px;
  height: 746px;
  margin-top: -50px;
  margin-bottom: 400px;
  
  
 
}

.heroHeading {
  color: #9e1a26;
  width: 1000px;
  height: 317px;
  font-size: 60px;
  
}

.heroSectionText {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 1000px;
  height: 17px;
  margin-top: 300px;
  margin-bottom: 214.5px;
  font-size: 30px;
  
}

.heroImage img{
  width: 900px;
  height: 700px;
  display: flex;
  flex-shrink: 0;
  float: right;
  margin-top: -354.5px;
  margin-bottom: 114.5px;
  margin-left: 900px !important;
 

}
.headerImage img{
 width: 800px;
 
}

.delicious-offerings {
  height: 903px;
  margin-top: -100px;
}

.grid-offerings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 2400px;
  margin-top: 50px;
}

.grid img {
  width: 100%;
}

.delicious-offerings h3 {
  text-align: center;
  color: #7d142c;
  width: 600px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-weight:bold;
  
}
.testimonials {
  margin-top: 300px;
  padding: 100px 0;
}
.testimonials h3 {
  margin-bottom: 20px;
  color: #9e1a26;
}
.testimonial-a img{
  display: flex;
  flex-direction: column;

 
}
.testimonial-b{
  float: inline-end;
}
.testimonials-c {
  font-size: 20px;
  width: 50%;
 margin-left: auto;
 margin-right: auto;
}
.testimonials {

 background: linear-gradient(to left, #F5D4E4,#FFF3F9);
}
.testimonial-image {
  color: #7a7777;
}
.theresa{
  margin-left: 200px;
}
.testimonials .card {
  border-bottom: 3px #007bff solid !important;
  transition: 0.5s;
  margin-top: 60px;
}
.testimonials .card i {
  color: #ffffff;
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: -40px auto 0 auto;
}

.David{
  margin-left: 350px;
  margin-top: 80px;

}
.footer-container {
  color: #ffffff;
  /* background: repeating-linear-gradient(
    to right,
    #570811 0px,
    #570811 40px,
    #3a0914 40px,
    #3a0914 50px
  ); */
  width: 2300px;
  background-color:  #570811;
 
}
.contact-footer{
 width: 2300px;
}
#emailInput {
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 20px;
  color: #ffffff;
}

#emailInput::placeholder {
  color: #c4c4c4;
  opacity: 1;
}

.fa {
  color: #ffffff;
}

hr {
  height: 1px;
}

.faq-body {
  text-align: center;
}

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 15px;
  transition: 0.4s;
  background-color: transparent;
}

.active,
.accordion:hover {
  background-color: #ec8087;
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.contact-container {
  width: 1271px;
  height: 667px;
  margin-left: 118.5px;
  margin-right: 118.5px;
}

.contact-header {
  margin-bottom: 50px;
}

.contact-details {
  margin-left: 20px;
}

.user-exclusive {
  margin-left: 100px;
  display: flex;
  justify-content: space-evenly;
  color: #9e1a26;
  position: relative;
  left: 120px;
}

.user-exclusive .icon {
  position: relative;
  top: 8px;
  left: 10px;
  color: black;
  width: 20px;
  height: 20px;
}

.user-heading {
  color: #981327;
}

.contact-main-heading {
  color: #981327;
}

.contact-container .contact-card {
  color: #ffffff;
  background: repeating-linear-gradient(
    to right,
    #b41731 0px,
    #b41731 40px,
    #a71b3b 40px,
    #a71b3b 50px
  );
  margin-right: 32px;
  text-align: justify;
}

.contact-container .user-info {
  background: none;
  border: none;
}

.contact-card-image {
  text-align: right;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.phone-label {
  margin-left: 60px;
}

#phone {
  border: none;
  background: none;
}

.subject {
  font-weight: bold;
  margin-bottom: 20px;
}

.select-subject {
  margin-bottom: 20px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  border-bottom: 1px solid black;
}

input[type="tel"] {
  border-bottom: 1px solid black;
  outline: none;
}

input[type="submit"] {
  background: repeating-linear-gradient(
    to right,
    #b41731 0px,
    #b41731 40px,
    #a71b3b 40px,
    #a71b3b 50px
  );
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #ec8087;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.user-page .user-card-a {
  width: 303px;
  height: 477px;
  background-color: inherit;
}

.user-page .user-card-b {
  width: 903px;
  height: 477px;
  margin-left: -180px;
  background-color: inherit;
  padding-left: 30px;
}

.edit-user-info {
  color: #b41731;
  float: right;
  margin-right: 30px;
  margin-top: -40px;
}

.edit-user-info a {
  color: #b41731;
  text-decoration: none;
}

.row li {
  list-style: none;
}

.row .btn {
  background-color: inherit;
  border: none;
  color: #727070;
  width: 90%;
}

.row .btn:hover {
  background-color: #ffffff;
  border-color: #fed9d9;
  color: #000;
  width: 90%;
}

.customer-email {
  margin-left: 85px;
  margin-top: -30px;
  font-size: smaller;
  font-weight: lighter;
  color: #727070;
}

.customer-answer {
  font-size: smaller;
  font-weight: lighter;
  color: #727070;
  margin: 0;
}
.location{
  width:40px;
  height: 30px;
  margin-left: 5px;
}
/* contact */

.contact{height: 800px !important;
  
}
.footer-container{margin-top: 200px;}
.shop-details
{color: white;
  background-image: url(images/shop-1.png);
  background-repeat: no-repeat;
 height: 1200px;
 width: 2500px;
 text-align: center;
padding-top: 300px;
}
.shop-details-a{
  font-size: 40px;
  margin-top: 50px;
  width: 800px;
  height: 185px;
 margin-right: auto;
 margin-left: auto;

}
shop-details-b .btn{
  border: none;
}
.shop-images{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
margin-left:100px;
margin-bottom: 100px;
}
.shop-details-c h3{
margin-left: 130px;
font-weight: bold;
}
.shop-footer{
  margin-top: 1800px;
}
.shop-section{
  margin-bottom: 50px;
}
/* Gallery */
.gallery-details{
  color: white;
 background-color:#727070;

 height: 600px;
 width: 2400px;
 text-align: center;
padding-top: 150px;
}
.gallery-details-a{
  font-size: 40px;
  margin-top: 50px;
  width: 800px;
  height: 185px;
 margin-right: auto;
 margin-left: auto;

}
.gallery{
  width: 2400px;
  margin-bottom: 100px;
  margin-top: 100px;
}
.gallery h3{
  margin-top: 80px;
  margin-left: 500px;
  font-size: 50px;
  font-weight: bold;

}
.gallery p{
  width: 800px;
  margin-left: 250px;
  font-size: 30px;
 
}

.gallery-section {

  display: flex;
}

.gallery-texts {
  flex: 50%;
  padding: 5px;
}
.gallery-f{
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
  margin-bottom: 300px;
 background-color: #FFEEF6;
 width: 2030px;
  margin-top: 200px;
  height: 400px;
  margin-left: 18px;
 


}
.gallery-f2{
  background-color: #fed9d9;

}
.gallery-f h3{
  margin-left: 80px;
  font-size: 35px;
}
.gallery-f2{

 border-radius: 50px;
 margin-left: 50px;
 margin-top: 50px;
 margin-right: 30px;
  
}
.gallery-f1 img{
  margin-left: 250px;
  padding: auto;
 
}
.gallery-f1 p{
  margin-left: 150px;
  font-size: 20px;
  padding-right: 20px;
}
.gallery-e{
 
  text-align: center;
  margin-left: 150px;
 font-size: 30px;
 padding-top: 50px;
 height: 100px;
 
 
}
.gallery-section-2{
  background-color: white;
  width: 2050px;
  margin-left: 250px;
}
.gallery-section-2 h3{
  text-align: center;
  padding-top: 20px;

}
.gallery-section-2 p{
  text-align: center;
  padding-bottom: 20px;
  width: 650px;
  margin-left: 660px;

}
.gallery-section-3{
  /* background-color: #ec8087; */
width: 1950px;
margin-left: 230px;
height: 400px;
margin-bottom: 200px;
}
.gallery-btn{
  color: red;
  background: none;
  font-weight: bold;
  border: none;
  font-size: 30px;
}
.gallery-footer{
  margin-top: 500px;
  
  
  
}
.gallery-images{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
margin-left:80px;
margin-left: 20px;
margin-bottom: 100px; 

}
.about-image img
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
margin-left:80px;
margin-left: 20px;
margin-bottom: 100px; 

}
.about-section{
 
width: 2275px;
margin-left: 100px;
margin-top: 200px;
  
}
.about-1 {
  width: 650px !important;
  margin-left: 20px;
}
.about-2{
  margin-left: 50px;
  width: 650px !important;
}
.about-2 img{
width: 650px !important;
}
.about-3{
  
  width: 650px !important;
  margin-left: 150px !important;
}
.about1-details {
  margin-top: 95px;
  
}
.about-1 p, h3{
  padding-left: 100px;
  font-weight: bold;
}
.about-2 p{
margin-left: 20px;
font-weight: bold;

}
.about-3 h3{
 font-size: 40px;
 width: 300px !important;
 margin-left: 150px;
 padding-top: 50px;
 
  
}

.about-3 {
  background-color: #A71B3A;
  width: 600px;
margin-left: 80px;
  text-align: center;
  color: white;
}

.about-3 img{
 margin-top: 50px !important;
 width: 200px !important;
 height: 150px !important;
 margin-left: 30px !important;
}
.about-images1{
display: flex;
}
.about-images1 img{
  width: 600px; 
  height: 500px;

}
.about-test{
width: 1970px;
margin-left: 80px;
}

 .about-Pic{
  margin-left: 100px;
  display: flex;
  flex-direction: column;
 
 
 }
 .about-PicA{
 float:inline-end;
 padding-top: 40px;
 padding-right: 380px;
 }
 
 .about-Pic img{
  height: 100px;
  width: 100px;
  margin-top: 30px;
 
 }
 .about-Pic h3{
  
  width: 600px;
  

 }
 .about-Picture{
 
  width: 675px;
  margin-left: 70px;
    height: 750px;
  }
  .about-sectionTwo{
    margin-left: 100px;
  
  }
   
 .about-PicB
 {
  display:flex;
 }
 .about-PicB p{
  float:right;
  padding-top: 40px;
  padding-right: 380px;
  
 }
 .about-PictureOne p{
float:right;

 }
 .about-sectionThree{
  width: 6000px;
  margin-left: 50px;
  
 }
 .about-PictureOne img{
  margin-right: 350px;
 }
 /* Popular */
.pop-footer{
margin-top: 200px;
}
.button{
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.popularnav a{

  margin-left: 80px;
  font-size: 25px;
text-decoration: none;
color:#A71B3A;

}
.popularnav {
 
 
  margin-left: 700px;
  display: flex;
}
body{
  overflow-x: hidden;
}
.homepage-container  {
  margin-left: 0px !important;
}

.button2{
  border: none;
  background-color:  #fed9d9;
}
.footerA ul a {
  text-decoration: none;
  color: white;
}
.popularnav a:hover{
  color:  white;
  font-weight: bold;
}
@media (max-width: 2000px){
  .body-wrap{
    width: 100%;
  }
}
@media (max-width: 800px) {
  .homepage-container {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .body-wrap,
  .column,
  input {
    width: 100%;
  }
}